<div class="paginator">
    {%- if include.previous -%}
    <div class="paginator-item">
        <span class="label">Newer</span>
        <a href="{{ include.previous.url | relative_url }}">
            <span>{{ include.previous.title | markdownify | remove: '<p>' | remove: '</p>' }}</span>
        </a>
        <span class="post-meta">
            {{ include.previous.date | date: "%b %-d, %Y" }}
        </span>
    </div>
    {%- endif -%}

    <div class="paginator-item spacer"></div>

    {%- if include.next -%}
    <div class="paginator-item">
        <span class="label">Older</span>
        <a href="{{ include.next.url | relative_url }}">
            <span>{{ include.next.title | markdownify | remove: '<p>' | remove: '</p>' }}</span>
        </a>
        <span class="post-meta">
            {{ include.next.date | date: "%b %-d, %Y" }}
        </span>
    </div>
    {%- endif -%}
</div>