@charset "utf-8";

$base-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Segoe UI Symbol", "Segoe UI Emoji", "Apple Color Emoji", Roboto, Helvetica, Arial, sans-serif !default;
$code-font-family: "Menlo", "Inconsolata", "Consolas", "Roboto Mono", "Ubuntu Mono", "Liberation Mono", "Courier New", monospace;
$brand-font-family: "Special Elite", monospace;
$base-font-size:   16px !default;
$base-font-weight: 400 !default;
$small-font-size:  $base-font-size * 0.875 !default;
$base-line-height: 1.5 !default;
$spacing-unit:     30px !default;
$table-text-align: left !default;

@mixin relative-font-size($ratio) {
  font-size: #{$ratio}rem;
}

$link-base-color:       #28537C;
$brand-color:           #510021;
$brand-color-light:     #eee5e8;
// $brand-color-dark:      #3a1728;
// $link-base-color:       #999966;
$code-background-color: #d2e2f1;
$accent-color: #715e00;


$brand-color:           #828282 !default;
$brand-color-light:     lighten($brand-color, 40%) !default;
$brand-color-dark:      darken($brand-color, 25%) !default;

$site-title-color:      $brand-color-dark !default;

$text-color:            #111111 !default;
$background-color:      #fdfdfd !default;
$code-background-color: #eeeeff !default;

$link-base-color:       #2a7ae2 !default;
$link-visited-color:    darken($link-base-color, 15%) !default;
$link-hover-color:      $text-color !default;

$border-color-01:       $brand-color-light !default;
$border-color-02:       lighten($brand-color, 35%) !default;
$border-color-03:       $brand-color-dark !default;

$table-text-color:      lighten($text-color, 18%) !default;
$table-zebra-color:     lighten($brand-color, 46%) !default;
$table-header-bg-color: lighten($brand-color, 43%) !default;
$table-header-border:   lighten($brand-color, 37%) !default;
$table-border-color:    $border-color-01 !default;

@import "_base";

h1.site-title {
  margin: 0;
  padding:0;
  background:$brand-color;
  border-radius: 10px;
  user-select: none;
  font-family: $brand-font-family;
  font-size: 90px;

  font-weight: normal;
  word-break: break-all;
  vertical-align: top;
  text-shadow:0 1px 0 $brand-color-light, 0 -1px 0 $brand-color-dark;
  -webkit-text-stroke: $brand-color-dark 1px;

  overflow: hidden;

  a {
    text-decoration:none;
    color:$background-color;
    &:hover {
      text-decoration: none;
    }

    display:flex;
    flex-wrap: wrap;

    span {
      width: 25%;
      height:70px;
      line-height: 0.9;
      text-align:center;
      transform: none;
    }
  }
}

body {
  margin:0;
  padding: 10px;
}

.svg-icon {
  width: 16px;
  height: 16px;
  margin-right: -0.5px;
  margin-top: -0.5px;
  fill: $background-color;
}

.navigation {
  margin: 10px 0 10px 0;
  padding: 0 0 10px 0;
  border-bottom: 1px solid $brand-color;
  display: flex;
  align-items:center;

  li {
    margin: 0;
    padding: 0;
    display:flex;

    &:last-child {
      margin-left: auto;
      margin-top: auto;
      flex-shrink: 1;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }

  ul {
    margin: 0;
    padding: 0;
    display: flex;

    &.iconlinks {
      margin-right: 0;

      a {
        color: $background-color;
        background:$accent-color;

        width: 22px;
        height: 22px;
        border-radius:22px;

        display:inline-block;
        padding: 2px;
        text-align: center;
        margin-right: 5px;
        line-height: 27px;

        &:hover {
          background-color: $link-hover-color;
        }
      }
    }

    &.textlinks {
      width: 100%;

      li {
        flex-shrink: 1;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;

        &:last-child {
          a::after {
            content: none;
          }
        }
      }
      a {
        color:$brand-color;
        line-height: 26px;
        font-weight: 100;
        font-stretch: ultra-condensed;
        letter-spacing: -1px;

        text-overflow: ellipsis;
        overflow: hidden;

        &:hover {
          text-decoration: none;
          color: $link-hover-color;

          &:after {
            color:$brand-color;
          }
        }

        &::after {
          content: "|";
          margin-left: 5px;
          margin-right: 5px;
        }
      }
    }
  }
}

header .about {
  display:none;
}

.post-meta {
  font-size: $small-font-size;
  font-family: $brand-font-family;
  color: $accent-color;

  > a { color: inherit; }
}

.page-title {
  font-weight: 100;
  font-size: 50px;
  line-height: 1;
}

.post-title {
  font-weight: 900;
  font-size: 20px;
}

article.post {
  margin-bottom:20px;
  border-bottom:1px solid $brand-color-light;
  padding-bottom:10px;

  &:last-of-type {
    margin-bottom:0;
    border-bottom:0;
  }
}

.paginator {
  border-top: 1px solid $brand-color-light;
  display: flex;
  flex-wrap: nowrap;
  padding-top: 10px;

  .paginator-item {
    display: flex;
    flex-direction: column;
    max-width:33%;

    a {
      display:flex;
      flex-direction: row;
      align-items: center;
    }

    .label {
      font-weight: 500;
      line-height: 1;
    }
    &.spacer {
      flex-grow: 1;
      max-width:100%;
    }
    &:first-child {
      text-align:right;
      a {
        flex-direction: row-reverse;
      }
      a::after {
        content: "«";
        font-size: 200%;
      }
    }
    &:last-child {
      a::after {
        content: "»";
        font-size: 200%;
      }
    }
  }
}


.archive-year {
  font-size: 20px;
  font-weight: 100;
}
.archive-month {
  font-size: 20px;
}

.archive-entry {
  h4 a {
    text-decoration:underline;

    &::after {
      content: "»";
    }
  }
}
p img:only-child,
p a:only-child img:only-child {
  display:block;
  margin: 0 auto;
  max-width: 100%;
}

.footnotes {
    font-size: $small-font-size;
    border-top: 1px solid $brand-color-light;
    margin-top: 10px;
    padding-top: 20px;
}

h3 {
    border-bottom: 1px solid $brand-color-light;
}

a {
    text-decoration: underline;
}
@media (max-width: 575px) {
  .archive-year {
    width: 60px;
    float: left;
    clear: left;
  }
  .archive-month {
    float: left;
    width: 140px;
    margin-left:60px;
  }
  .archive-year + .archive-month {
    margin-left: 0;
  }
  .archive-entry {
    margin-left: 200px;
  }
}

@media (min-width: 576px) {
  .site-header {
    width: 240px;
    margin-right:20px;

    float:left;

    h1.site-title {
      width: 240px;
      a {
        span {
          height:80px;
          width: 33.3333%;
          transform: rotate(-90deg);
          line-height: 1;

          &:nth-child(1) { order: 10; }
          &:nth-child(2) { order: 7; }
          &:nth-child(3) { order: 4; }
          &:nth-child(4) { order: 1; }

          &:nth-child(5) { order: 11; }
          &:nth-child(6) { order: 8; }
          &:nth-child(7) { order: 5; }
          &:nth-child(8) { order: 2; }

          &:nth-child(9) { order: 12; }
          &:nth-child(10) { order: 9; }
          &:nth-child(11) { order: 6; }
          &:nth-child(12) { order: 3; }
        }
      }
    }
  }

  .navigation {
    border:none;
    flex-wrap:wrap;
    margin-bottom: 10px;
    padding-bottom:0;
    align-items: center;

    li:nth-child(2) {
      margin-left: auto;

      ul {
        margin-right: 0;

        li:last-child {
          a {
            margin-right: 0;
          }
        }
      }
    }
    li:last-child {
      width:100%;
      margin:0;

      ul {
        width:100%;
        margin-top:10px;
        padding-top:10px;
        border-top: 1px solid $brand-color;
        flex-direction: column;
        li {
          margin: 0 0 2px 0;
          padding:5px 5px 5px 20px;
          width: auto;
          background: $brand-color-light;
          border-radius: 2px;
          a {
            font-family: $brand-font-family;
            font-weight: unset;
            font-stretch: unset;
            letter-spacing: unset;
            margin-top:4px;
            color: $link-base-color;
            line-height:1;

            &::after {
              content: none;
              width:auto;
            }
          }
        }
      }
    }
  }
}

@media (min-width: 768px) {
  .site-header {
    margin-right: 0;
  }

  main.page-content {
    margin-left: 260px;
    max-width:720px;
  }

  header .about {
    display:block;
    font-size: $small-font-size;
    color: $accent-color;
    font-style: italic;
    font-weight: 100;

    p {
      text-align:justify;
      hyphens: auto;
      -webkit-hyphens: auto;
      line-height: 1;
    }
  }

  .archive-year {
    font-size: 30px;
    border-bottom: 1px solid $brand-color-light;
  }

  .archive-entry {
    border-left: 5px solid $brand-color-light;
    padding-left: 10px;
  }

}

@media (min-width: 1260px) {
  body {
    width: 720px;
    margin: 0 auto;
  }
  .site-header {
    margin-left: -260px;
  }
  main.page-content {
    margin:0;
  }
}
