<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href='//fonts.googleapis.com/css?family=Special+Elite' rel='stylesheet' type='text/css' />
    {% if page.layout == "year" %}
    <title>{{ page.date | date: "%Y" }} &mdash; {{ site.title | markdownify | strip_html }} </title>
    {% elsif page.layout == "month" %}
    <title>{{ page.date | date: "%B %Y" }} &mdash; {{ site.title | markdownify | strip_html }} </title>
    {% elsif page.title %}
    <title>{{ page.title | markdownify | strip_html }} &mdash; {{ site.title | markdownify | strip_html }} </title>
    {% else %}
    <title>{{ site.title | markdownify | strip_html }}</title>
    {% endif %}
    {%- seo title=false -%}
    <link rel="stylesheet" href="{{ "/assets/css/tango.css" | relative_url }}">
    <link rel="stylesheet" href="{{ "/assets/css/style.css" | relative_url }}">
    {%- feed_meta -%}
    <link rel="apple-touch-icon" sizes="180x180" href="{{ "/assets/favicon/apple-touch-icon.png" | relative_url }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ "/assets/favicon/favicon-32x32.png" | relative_url }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ "/assets/favicon/favicon-16x16.png" | relative_url }}">
    <link rel="manifest" href="{{ "/assets/favicon/site.webmanifest" | relative_url }}">
    <link rel="mask-icon" href="{{ "/assets/favicon/safari-pinned-tab.svg" | relative_url }}"" color="#444444">
    <meta name="apple-mobile-web-app-title" content="sean.kerwin.in">
    <meta name="application-name" content="sean.kerwin.in">
    <meta name="msapplication-TileColor" content="#444444">
    <meta name="theme-color" content="#ffffff">
  </head>
  <body>
    <header class="site-header">
      <h1 class="site-title" rel="author">
        <a href="{{ "/" | relative_url }}"><span>s</span><span>e</span><span>a</span><span>n</span><span>.</span><span>k</span><span>e</span><span>r</span><span>.</span><span>w</span><span>i</span><span>n</span></a>
      </h1>
      <ul class="navigation">
        <li>
          <ul class="iconlinks">
            <li>
              <a href="{{ 'feed.xml' | relative_url }}"><svg class="svg-icon"><use xlink:href="{{ 'assets/minima-social-icons.svg#rss' | relative_url }}"></use></svg></a>
            </li>
          </ul>
        </li>
        <li>
          <ul class="iconlinks">
            {%- if site.social.dribbble -%}<li><a rel="me" href="https://dribbble.com/{{ site.social.dribbble | cgi_escape | escape }}" title="{{ site.social.dribbble | escape }}"><svg class="svg-icon"><use xlink:href="{{ '/assets/minima-social-icons.svg#dribbble' | relative_url }}"></use></svg></a></li>{%- endif -%}
            {%- if site.social.facebook -%}<li><a rel="me" href="https://www.facebook.com/{{ site.social.facebook | cgi_escape | escape }}" title="{{ site.social.facebook | escape }}"><svg class="svg-icon"><use xlink:href="{{ '/assets/minima-social-icons.svg#facebook' | relative_url }}"></use></svg></a></li>{%- endif -%}
            {%- if site.social.flickr -%}<li><a rel="me" href="https://www.flickr.com/photos/{{ site.social.flickr | cgi_escape | escape }}" title="{{ site.social.flickr | escape }}"><svg class="svg-icon"><use xlink:href="{{ '/assets/minima-social-icons.svg#flickr' | relative_url }}"></use></svg></a></li>{%- endif -%}
            {%- if site.social.github -%}<li><a rel="me" href="https://github.com/{{ site.social.github | cgi_escape | escape }}" title="{{ site.social.github | escape }}"><svg class="svg-icon"><use xlink:href="{{ '/assets/minima-social-icons.svg#github' | relative_url }}"></use></svg></a></li>{%- endif -%}
            {%- if site.social.stackoverflow -%}<li><a rel="me" href="https://stackoverflow.com/users/{{ site.social.stackoverflow | cgi_escape | escape }}" title="{{ site.social.stackoverflow | escape }}"><svg class="svg-icon"><use xlink:href="{{ '/assets/minima-social-icons.svg#stackoverflow' | relative_url }}"></use></svg></a></li>{%- endif -%}
            {%- if site.social.instagram -%}<li><a rel="me" href="https://www.instagram.com/{{ site.social.instagram | cgi_escape | escape }}" title="{{ site.social.instagram | escape }}"><svg class="svg-icon"><use xlink:href="{{ '/assets/minima-social-icons.svg#instagram' | relative_url }}"></use></svg></a></li>{%- endif -%}
            {%- if site.social.linkedin -%}<li><a rel="me" href="https://www.linkedin.com/in/{{ site.social.linkedin | cgi_escape | escape }}" title="{{ site.social.linkedin | escape }}"><svg class="svg-icon"><use xlink:href="{{ '/assets/minima-social-icons.svg#linkedin' | relative_url }}"></use></svg></a></li>{%- endif -%}
            {%- if site.social.pinterest -%}<li><a rel="me" href="https://www.pinterest.com/{{ site.social.pinterest | cgi_escape | escape }}" title="{{ site.social.pinterest | escape }}"><svg class="svg-icon"><use xlink:href="{{ '/assets/minima-social-icons.svg#pinterest' | relative_url }}"></use></svg></a></li>{%- endif -%}
            {%- for mst in site.social.mastodon -%}{%- if mst.username and mst.instance -%}<li><a rel="me" href="https://{{ mst.instance | cgi_escape | escape}}/@{{mst.username}}" title="{{ mst.username | escape }}"><svg class="svg-icon"><use xlink:href="{{ '/assets/minima-social-icons.svg#mastodon' | relative_url }}"></use></svg></a></li>{%- endif -%}{%- endfor -%}
            {%- if site.social.twitter -%}<li><a rel="me" href="https://twitter.com/{{ site.social.twitter | cgi_escape | escape }}" title="{{ site.social.twitter | escape }}"><svg class="svg-icon"><use xlink:href="{{ '/assets/minima-social-icons.svg#twitter' | relative_url }}"></use></svg></a></li>{%- endif -%}
            {%- if site.social.youtube -%}<li><a rel="me" href="https://www.youtube.com/{{ site.social.youtube | cgi_escape | escape }}" title="{{ site.social.youtube | escape }}"><svg class="svg-icon"><use xlink:href="{{ '/assets/minima-social-icons.svg#youtube' | relative_url }}"></use></svg></a></li>{%- endif -%}
            {%- if site.social.youtube_channel -%}<li><a rel="me" href="https://www.youtube.com/channel/{{ site.social.youtube_channel | cgi_escape | escape }}" title="{{ site.social.youtube_channel_name | escape | default: 'YouTube' }}"><svg class="svg-icon"><use xlink:href="{{ '/assets/minima-social-icons.svg#youtube' | relative_url }}"></use></svg></a></li>{%- endif -%}
            {%- if site.social.telegram -%}<li><a rel="me" href="https://t.me/{{ site.social.telegram | cgi_escape | escape }}" title="{{ site.social.telegram | escape }}"><svg class="svg-icon"><use xlink:href="{{ '/assets/minima-social-icons.svg#telegram' | relative_url }}"></use></svg></a></li>{%- endif -%}
            {%- if site.social.keybase -%}<li><a rel="me" href="https://keybase.io/{{ site.social.keybase | cgi_escape | escape }}" title="{{ site.social.keybase | escape }}"><svg class="svg-icon"><use xlink:href="{{ '/assets/minima-social-icons.svg#keybase' | relative_url }}"></use></svg></a></li>{%- endif -%}
            {%- if site.social.microdotblog -%}<li><a rel="me" href="https://micro.blog/{{ site.social.microdotblog | cgi_escape | escape }}" title="{{ site.social.microdotblog | escape }}"><svg class="svg-icon"><use xlink:href="{{ '/assets/minima-social-icons.svg#microdotblog' | relative_url }}"></use></svg></a></li>{%- endif -%}
            {%- if site.social.devto -%}<li><a href="https://dev.to/{{ site.social.devto | cgi_escape | escape }}" title="{{ site.social.devto | escape }}"><svg class="svg-icon"><use xlink:href="{{ '/assets/minima-social-icons.svg#devto' | relative_url }}"></use></svg></a></li>{%- endif -%}
          </ul>
        </li>
        <li>
          {%- assign default_paths = site.pages | map: "path" -%}
          {%- assign page_paths = site.header_pages | default: default_paths -%}
          {%- assign titles_size = site.pages | map: 'title' | join: '' | size -%}
          {%- if titles_size > 0 -%}
          <ul class="textlinks">
            {%- for path in page_paths -%}
              {%- assign my_page = site.pages | where: "path", path | first -%}
              {%- if my_page.title -%}
              {%- unless my_page.hidden == true -%}
              <li>
                <a class="page-link" href="{{ my_page.url | relative_url }}">{{ my_page.title | markdownify | remove: '<p>' | remove: '</p>' }}</a>
              </li>
              {%- endunless -%}
              {%- endif -%}
            {%- endfor -%}
          </ul>
          {%- endif -%}
        </li>
      </ul>
      <div class="about">
        <p>{{ site.description }}</p>
      </div>
    </header>

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>
  </body>
</html>
