---
layout: default
---

{{ content }}

{%- for post in site.posts limit: 10 -%}
<article class="post">
  
  <h1 class="page-title">
    {{ post.title | escape }}
  </h1>
  <h2 class="post-meta">
    <a class="permalink" href="{{ post.url | relative_url }}">
      {{ post.date | date: "%b %-d, %Y" }}
    </a>
  </h2>

  {{ post.content }}

  {% if forloop.last %}
  {%- assign next_post = site.posts | slice: forloop.index | first -%}
  {% if next_post %}
  {%- include paginator.html next=next_post -%}
  {% endif %}
  {% endif %}
</article>
{%- endfor -%}

