---
layout: default
---
<style>
h2 {
	font-weight: 800;
}
h3 {
    margin-top: 40px;
}

.grammar-list h3 {
    border:none;
	margin-bottom: -10px;
	padding-bottom: 0;
	margin-top: 0;
}

.box {
	width: 100%;
	border: 1px solid #CCC;
	margin-top: 20px;
	margin-bottom: 20px;
}
.box textarea {
	width: 100%;
	max-width: 100%;
	font-family: monospace;
	font-size: 15px;
	margin: 0;
	box-sizing: border-box;
	height: 22px;
	border: none;
	border-top: 1px solid #CCC;
	margin-bottom: -4px;
}

.box .textarea {
	border-top: 1px solid #CCC;
	font-family: monospace;
	font-size: 15px;
}

.alt {
	background-color: #EEF;
}

.symbols { padding-left: 4px; background: white; }
.symbols img, .symbols img:only-child { margin-left:-3px; margin-right:-3px; margin-top:-4px; display: inline; }
.lexemes img { margin-left:-3px; margin-right:-3px; margin-top:-4px; display: inline; }
.symbols span { display:inline-block; width: 9px; }
.symbols a { display:inline-block; margin-left:-6px; color: #333; text-decoration:none;}

.lexemes {
	background: white;
	border-top: 1px solid #CCC;
	padding: 2px;
}
.lexemes span {
	display:inline-block;
	margin-left: 5px;
}
.guess {
	background: #CCC;
	padding: 2px;
	font-family: cursive;
	text-shadow: 0 -1px #EEE;
	font-size: 22px;
	text-align: center;
	padding-left:10px;
	padding-right:10px;
}
.guess img { margin-left:-3px; margin-right:-3px; margin-bottom: -2px; }
.lexemes span:first-child { margin-left: 0; }
#grammar-section {
	margin-bottom: 30px;
}
.grammar-list {
	background: #eee5e8;
	margin-top: 10px;
	border: 1px solid #ccc;
}
.grammar-list h3 {
	background: #510021;
	margin-bottom: 5px;
	padding: 5px;
	color: white;
}
.grammar-list h3 a {
	float:right;
	color: white;
	font-size:10px;
	line-height: 3;
}
.grammar-list .row {
	text-align: center;
	border-bottom: 1px solid white;
	padding-top: 5px;
	padding-bottom: 5px;
}
.grammar-list.collapse .row { display: none; }
.grammar-list.collapse .add-block { display: none; }

.grammar-list .row * { vertical-align: top; }
.grammar-list .row input {
	font-family: monospace;
	font-size: 15px;
}
.grammar-list .source { display: inline-block; }
.grammar-list .source input { display: block; }
.grammar-list .source .symbols {
	margin-top: 5px;
	margin-bottom: -10px;
	background: transparent;
	text-align: left;;
}
.add-block {
	text-align: center;
}

.secret {
    display:none;
}
.advanced .secret { display: inherit; }
</style>

<h1 class="page-title">Triangles</h1>

{{ content }}

<h2 class="secret">Grammar</h2>
<div class="secret" id="grammar-section"></div>

<h2>Known Messages</h2>
<div id="known"></div>

<h2 class="secret" >Transliteration Checker</h2>
<div class="box secret" id="checker"></div>

<script>
(function(){
	const aCode = 'a'.charCodeAt(0);
	const zCode = 'z'.charCodeAt(0);
	const prefixes = [
		{ t: 'xi', m: 'UN' },
		{ t: 'omi', m: 'ANTI' },
		{ t: 'caus+', m: 'CAUSE' },
		{ t: 'us+', m: 'USE' },
		{ t: 'strp', m: 'STOP' },
		{ t: 'b+', m: 'BE' },
		{ t: 'mapr', m: 'BREAK' },
		{ t: 'lik+', m: 'LIKE' },
		{ t: 'tlaic', m: 'WAR' },
        { t: 'u+ph', m: 'UNUSUAL' },
	];
	const suffixes = [
		{ t: 'ky', m: 'SUBJ' },
		{ t: 'my', m: 'OBJ' },
		{ t: 'vy', m: 'IND-OBJ' },
		{ t: 'kyd', m: 'SUBJ-PLURAL' },
        { t: 'kyab', m: 'SUBJ-UNKNOWN' },
		{ t: 'myd', m: 'OBJ-PLURAL' },
		{ t: 'vyd', m: 'IND-OBJ-PLURAL' },
		{ t: 'zyn', m: 'ADJ' },
		{ t: 'if', m: 'POSSESSIVE' },
		{ t: 'ad', m: 'COLLECTIVE' },
		{ t: 'dd', m: 'PLURAL' },
		{ t: 'db', m: 'SINGULAR' },
		{ t: 'ot', m: 'BECOME-START' },
		{ t: 'qt', m: 'INDICATIVE' },
		{ t: 'wt', m: 'IMPERATIVE' },
        { t: 'st', m: 'FUTURE-INTENDED' },
		{ t: 'vai', m: 'CONJ' },
        { t: 'vaic', m: 'CONJ' },
		{ t: 'lama', m: 'PRIEST' },
		{ t: 'yet+', m: 'BEGINNING' },
		{ t: 'yet', m: 'MIDDLE' },
		{ t: 'jr', m: 'ADV' },
		{ t: 'gr', m: 'GO' },
		{ t: 'rm', m: 'PREP' },
	];
	const vocabulary = [
		{ t: 'pas', m: 'THE' },
		{ t: 'tr', m: 'TO' },
		{ t: 'rf', m: 'OF' },
		{ t: 'erd', m: 'WE/ANCIENTS' },
		{ t: 'oao', m: 'LIGHT' },
		{ t: 'tzrt', m: 'ORGA' },
		{ t: 'tzr', m: 'ORG' },
		{ t: 'tli', m: 'MATERIALPLANE' },
		{ t: 'm+tz', m: 'SUN' },
		{ t: 'aiia', m: 'MOON' },
		{ t: 'ctgn+', m: 'PLANT' },
		{ t: 'tian', m: 'GATE' },
		{ t: 'qui', m: 'TIME' },
		{ t: 'pi+c+', m: 'PIECE' },
		{ t: 'axa', m: 'GREYMYR' },
		{ t: 'maht', m: 'FEAR' },
		{ t: 'kzi', m: 'FAST' },
		{ t: 'migg', m: 'REMOVED' },
		{ t: 'ktw', m: 'ESSENCE' },
		{ t: 'dw+ll', m: 'DWELL' },
		{ t: 'jrin', m: 'JOIN' },
        { t: 'mih', m: 'DEATH' },
        { t: 'clrs+', m: 'CLOSE' },
        { t: 'sam+', m: 'SAME' },
        { t: 'grrd', m: 'GOOD' },
        { t: 'agernrx', m: 'AGRONOX' },
        { t: 'htaca', m: 'SEAL' },
        { t: 'tak+', m: 'TAKE' },
        { t: 'crmd', m: 'COME' },
        { t: 'placd', m: 'PLACE' },
	]

	const stdToEmpressMap = {
		'd': 'l',
		't': 'o',
		'a': 'i',
		'y': 't',
		'i': 'm',
		'r': 'g',
		'k': 'v',
		'q': 'j',
		'+': 'n',
		'u': 's',
		'z': 'r',
		's': 'k',
		'm': 'b',
		'o': 'd',
		'x': 'a',
		'e': 'e',
		'c': 'w',
		'l': 'f',
		'b': '?',
		'p': 'p',
		'v': 'h',
		'n': 'y',
		'j': 'c',
		'w': '∂',
		'h': 'z',
		',': ',',
		'f': 'x',
		'g': 'q',
	}

	const empressToStdMap = { };

	Object.keys(stdToEmpressMap).forEach( (k) => {
		empressToStdMap[stdToEmpressMap[k]] = k;
	});

	const translateListeners = [];

	let needsTranslate = false;
	function retranslate() {
		if (needsTranslate) return;
		needsTranslate = true;

		window.setTimeout(() => {
			if(needsTranslate) {
				needsTranslate = false;

				translateListeners.forEach((callback) => callback());
			}
		}, 2);
	}

	function buildGrammarEditorRow(listContainer, list, item, footer) {
		const row = document.createElement('div');
		row.className = 'row';

		const source = document.createElement('div');
		source.className = 'source';

		const from = document.createElement('input');
		from.type = 'text';
		from.value = item.t;
		from.spellcheck = false;
		source.appendChild(from);

		const from2 = document.createElement('input');
		from2.type = 'text';
		from2.value = modeSwitch(item.t, stdToEmpressMap);
		from2.spellcheck = false;
		from2.className = 'alt';
		source.appendChild(from2);

		const symbols = document.createElement('div');
		symbols.className = 'symbols';
		source.appendChild(symbols);

		from.addEventListener('keyup', (evt) => {
			setTimeout(() => {
				item.t = from.value;
				retranslate();
			}, 0);
		});
		watch(from, from2, symbols, null);
		transliterate(item.t, symbols);

		row.appendChild(source);

		row.appendChild(document.createTextNode('→'))

		const to = document.createElement('input');
		to.type = 'text';
		to.value = item.m;
		to.addEventListener('keyup', (evt) => {
			setTimeout(() => {
				item.m = to.value;
				retranslate();
			}, 0);
		});
		row.appendChild(to);

		const remove = document.createElement('a');
		remove.href = '#';
		remove.innerText = '[remove]';
		remove.addEventListener('click', (evt) => {
			evt.preventDefault();
			const idx = list.indexOf(item);
			list.splice(idx, 1);
			listContainer.removeChild(row);
			retranslate();
		});
		row.appendChild(remove);

		listContainer.insertBefore(row, footer);

		item.row = row;
	}

	function addRow(listContainer, list, footer) {
		const item = { t: 'from', m: 'to' };
		list.push(item);
		buildGrammarEditorRow(listContainer, list, item, footer);

		retranslate();
	}

	function buildGrammarEditor(where, label, list) {
		const listContainer = document.createElement('div');
		listContainer.className = 'grammar-list collapse';
		where.appendChild(listContainer);

		const header = document.createElement('h3');
		header.innerHTML = label;
		listContainer.appendChild(header);

		const expand = document.createElement('a');
		expand.href = '#';
		expand.innerText = '[expand]';
		expand.addEventListener('click', (evt) => {
			evt.preventDefault();
			if (expand.innerText == '[expand]') {
				listContainer.classList.remove('collapse');
				expand.innerText = '[collapse]';
			} else {
				listContainer.classList.add('collapse');
				expand.innerText = '[expand]';
			}

		});
		header.appendChild(expand);

		const addBlock = document.createElement('div');
		addBlock.className = 'add-block';
		listContainer.appendChild(addBlock);

		list.forEach((item) => {
			buildGrammarEditorRow(listContainer, list, item, addBlock);
		});

		const add = document.createElement('a');
		add.href = '#';
		add.className = 'add';
		add.innerText = '[add]';
		add.addEventListener('click', (evt) => {
			evt.preventDefault();
			addRow(listContainer, list, addBlock);
		});
		addBlock.appendChild(add);

		const clear = document.createElement('a');
		clear.href = '#';
		clear.className = 'add';
		clear.innerText = '[remove all]';
		clear.addEventListener('click', (evt) => {
			evt.preventDefault();
			list.forEach((item) => {
				if (item.row) {
					listContainer.removeChild(item.row);
				}
			})
			list.splice(0);
			retranslate();
		});
		addBlock.appendChild(clear);
	}

	const grammarSection = document.getElementById('grammar-section');
	buildGrammarEditor(grammarSection, 'Prefixes', prefixes);
	buildGrammarEditor(grammarSection, 'Suffixes', suffixes);
	buildGrammarEditor(grammarSection, 'Words', vocabulary);

	function transliterate(msg, triangleNode, retain) {
		if (!retain) {
			Array.from(triangleNode.childNodes).forEach((n)=>triangleNode.removeChild(n));
		}
		Array.from(msg).forEach((c, idx) => {
			let code = c.toLowerCase().charCodeAt(0);
			let el = null;
			if ( code >= aCode && code <= zCode ) {
				el = document.createElement('img');
				el.src = "{{ "/assets/triangles/" | relative_url }}" + ( 3818 + (code - aCode) * 2 + idx % 2 ) + ".png"
			} else if ( c == "+" || c == "#" ) {
				el = document.createElement('img');
				el.src = "{{ "/assets/triangles/" | relative_url }}" + ( 3870 + idx % 2 ) + ".png"
			} else if ( c == "," ) {
				el = document.createElement('img');
				el.src = "{{ "/assets/triangles/" | relative_url }}" + ( 3874 + idx % 2 ) + ".png"
			}  else if ( c == "." ) {
				el = document.createElement('img');
				el.src = "{{ "/assets/triangles/" | relative_url }}" + ( 3876 + idx % 2 ) + ".png"
			} else /* if ( c == " ") */ {
				el = document.createElement('span');
			}
			triangleNode.appendChild(el)
		});
	};

	function translate(msg, lexemeNode) {
		Array.from(lexemeNode.childNodes).forEach((n)=>lexemeNode.removeChild(n));

		let words = msg.toLowerCase().split(/[^a-z\+\#]/).filter((s)=>!!s)
		words.forEach((w) => {
			w = w.replaceAll('#', '+');

			let start = '';

			let dirty = true;
			while (dirty) {
				dirty = false;
				prefixes.forEach((p) => {
					if (w.substring(0, p.t.length) == p.t) {
						dirty = true;
						if (start) { start += '-'; }
						start += p.m
						w = w.substring(p.t.length);
					}
				});
			}

			let end = '';

			dirty = true;
			while (dirty) {
				dirty = false;
				suffixes.forEach((p) => {
					if (w.substring(w.length - p.t.length) == p.t) {
						dirty = true;
						if (end) { end = '-' + end; }
						end = p.m + end;
						w = w.substring(0, w.length - p.t.length);
					}
				});
			}

			let found = false
			vocabulary.forEach((p) => {
				if (w == p.t) {
					w = p.m
					found = true
				}
			});

			if (!found && !!w) {
				w = '[' + w + ']';
			}

            if (w && w[0] == '[') {
                if (start) lexemeNode.appendChild(document.createTextNode(start + '-'));

                transliterate(w, lexemeNode, true);

                if (end) lexemeNode.appendChild(document.createTextNode('-' + end));

                lexemeNode.appendChild(document.createTextNode(' '));
            } else {
                let built = '';
                if (start) { built = start; }
                if (w) {
                    if (built) { built += '-'; }
                    built += w;
                }
                if (end) {
                    if (built) { built += '-'; }
                    built += end;
                }

                lexemeNode.appendChild(document.createTextNode(built + ' '));
            }
		});
	}

	function modeSwitch(msg, map) {
		const directValue = Array.from(msg).map((c) => c == '#' ? '+' : c).join('');
		const altValue =  Array.from(directValue).map((c) => map[c] ?? c).join('');
		return altValue;
	}

	function watch(stdNode, empressNode, symbolNode, lexemeNode) {
		let dirty = false;
		function translateIfNeeded(node, altNode, altMap, needsMapping) {
			if (!dirty) return;
			dirty = false;

			const directValue = node.value;
			const altValue =  modeSwitch(directValue, altMap);

			const value = needsMapping ? altValue : directValue;

			transliterate(value, symbolNode);
			if(lexemeNode) {
				translate(value, lexemeNode);
			}
			if(altNode) {
				altNode.value = altValue;
			}
		}

		stdNode.addEventListener('keyup', (evt) => {
			dirty = true;
			window.setTimeout(() => translateIfNeeded(stdNode, empressNode, stdToEmpressMap, false), 1);
		});

		if (empressNode) {
			empressNode.addEventListener('keyup', (evt) => {
				dirty = true;
				window.setTimeout(() => translateIfNeeded(empressNode, stdNode, empressToStdMap, true), 1);
			});
		}
	}

	function fillMessageBox(containerNode, message, readonly) {
		let inbox = null;
		let altInbox = null;

		if (readonly) {
			inbox = document.createElement('div');
			inbox.innerText = message;
			inbox.className = 'textarea secret';

			altInbox = document.createElement('div');
			altInbox.innerText = modeSwitch(message, stdToEmpressMap);
			altInbox.className = 'textarea alt secret';
		} else {
			inbox = document.createElement('textarea');
			inbox.className = 'secret';
            inbox.value = message;
			inbox.spellcheck = false;

			altInbox = document.createElement('textarea');
			altInbox.className = 'alt secret';
			altInbox.value = modeSwitch(message, stdToEmpressMap)
			altInbox.spellcheck = false;
		}

		const symbolBox = document.createElement('div');
		symbolBox.className = 'symbols';
		const lexemeBox = document.createElement('div');
		lexemeBox.className = 'lexemes';
		containerNode.appendChild(symbolBox);
		containerNode.appendChild(inbox);
		containerNode.appendChild(altInbox);
		containerNode.appendChild(lexemeBox);

		transliterate(message, symbolBox);

		if (!readonly) {
			watch(inbox, altInbox, symbolBox, lexemeBox);
		}

		translate(message, lexemeBox);

		translateListeners.push(() => {
			let from = readonly ? message : inbox.value;
			translate(from, lexemeBox);
		});
	}

	fillMessageBox(document.getElementById('checker'), 'type here', false);

	function interpolate(containerNode, message) {
		const text = message.split(/<[^>]+>/);
		const symbols = message.match(/<[^>]+>/g) ?? [];

		text.forEach((t, idx) => {
			if (t) {
				containerNode.appendChild(document.createTextNode(t));
			}

			if (idx < symbols.length) {
				const span = document.createElement('code');
				transliterate(symbols[idx].slice(1, -1), span);
				//span.innerHTML = '(' + span.innerHTML + ')'
				containerNode.appendChild(span);
			}
		});
	}
	function appendNewMessageBox(containerNode, message, guess) {
		const div = document.createElement('div');
		div.className = 'box';
		containerNode.appendChild(div);
		fillMessageBox(div, message, true);

		if (guess) {
			const g = document.createElement('div');
			g.className = 'guess';
			div.appendChild(g);

			interpolate(g, guess);
		}
	}

	Array.from(document.getElementsByTagName('code')).forEach((code) => {
		const message = code.innerHTML;
		code.className += ' symbols';
		code.innerHTML = '';
		transliterate(message, code)
	});

	const known = [
		{
			name: "Cloud Alchemy Lab",
			messages: [
				{ m: 'erdky ktwvy aiiaif ktwmy ctgn#if pas miggqtad.', g: 'We removed the plants\' essence from the moon\'s essence.' },
                { m: 'erdky my caus+qtad.', g: 'We caused it.' },
                { m: 'ky aiiamy clrs+qtdd.', g: 'It closed the moon.' },
                { m: 'ctgn+ky my dw+llqtdd clrs+jr.', g: 'Plants dwelled closely to it.' },
                { m: 'erdky ctgn+my qtdd.', g: 'We did plants.' },
                { m: 'erdky ktwmy aiiaif tak+qtad.', g: 'We took the moon\'s essence.' },
			],
		},{
			name: 'Ancient Bear Cave West',
			messages: [
				{ m: 'erdky xioaomyd pas xilik+qtad.', g: 'We disliked the shadows.' },
				{ m: 'erdky quimy strpqtad caus+vai xioaokyd pas strpotdd.', g: 'We stopped time, causing the shadows to become stopped.' },
				{ m: 'erdky oaomy xioaozyn us+qtad.', g: 'We used shadowy light.' },
				{ m: 'erdky tzrtmyd caus+qtad.', g: 'We caused the orga.' },
				{ m: 'erdky tzrvyd tzrtmyd b+otdd, caus+qtad.', g: 'We caused the org to become the orga.' },
			],
		},{
			name: 'Ancient Bear Cave East',
			messages: [
				{ m: 'erdky oaomy xioaozyn us#qtad caus#vai tzrtkyd caus#qtad.', g: 'We used shadowy light to create the orga.' },
				{ m: 'erdky tzrtmyd us#qtad caus#vai quiky strpotad.', g: 'We used the orga to cause time to become stopped.' },
				{ m: 'tzrtkyd erdmy xilik#qtdd.', g: 'The orga disliked us.' },
				{ m: 'tzrtkyd quimy xistrpqtdd.', g: 'The orga unstopped time.' },
				{ m: 'tzrtkyd erdmy tlaicqtdd.', g: 'The orga made war on us.' },
			],
		},{
			name: 'Northern Ruins Outer - Original',
			messages: [
				{ m: 'wt myd zyn  xiwtdb.', g: 'Do not act on these (?)' },
				{ m: 'ky myd pas xiwtdb.', g: 'Do not act on one of these (?)' },
			],
		},{
			name: 'Northern Ruins Outer - Charged',
			messages: [
				{ m: 'ky tzrmyd xilik+qtdb.', g: 'It disliked the org' },
				{ m: 'ky ximihmy xilik+qtdb.', g: 'It disliked the undead' },
			],
		},{
			name: 'Northern Ruins North',
			messages: [
				{ m: 'erdky tzrmyd caus+qtad.', g: 'We caused the org.' },
				{ m: 'quiky kzizyn b+qtdb.', g: 'Time was fast.' },
				{ m: 'quiky xikzizyn b+qtdb.', g: 'Time was slow.' },
			],
		},{
			name: 'Northern Ruins West',
			messages: [
				{ m: 'tzrkyd quimy xikzizyn caus+otad.', g: 'The org caused time to become slow.' },
				{ m: 'erdky tzrmyd caus+qtad caus+vai quiky xikziotdb.', g: 'We controlled the org, causing time to begin slowing.' },
			],
		},{
			name: 'Northern Ruins East',
			messages: [
				{ m: 'erdky tzrmyd dw+llqtad clrs+jr caus+vai quiky erdif xikziotdb.', g: 'We dwelled closely with the org, causing our time to begin slowing.' },
				{ m: 'erdky tzrmyd dw+llqtad clrs+jr.', g: 'We dwelled closely with the org' },
				{ m: 'quiky erdif xikziqtdb caus+vai erdky ximihqtad.', g: 'Our time slowed, causing us to not die.' },
			],
		},{
			name: 'Windweft Ice Cave',
			messages: [
				{ m: 'oaoky pas, xioaozyn b#qtdb vaic oaoky pas, oaozyn b#qtdb.', g: 'The light darkened and brightened.' },
				{ m: 'm#tzlamakyd erdif tianmy caus#qtad.', g: 'Our mystics created a gate.' },
				{ m: 'tianky pas omitlimy trrm jrinqtdb.', g: 'The gate joined to another plane.' },
				{ m: 'tianky pas tlivy trrm omitlimy trrm jrinqtdb.', g: 'The gate joined from this plane to the other plane.' },
				{ m: 'erdky tianmy pas us#qtad.', g: 'We used the gate.' },
				{ m: 'omitliky xioaozyn b#qtdb.', g: 'The other plane darkened.' },
				{ m: 'omitliky oaozyn b#qtdb.', g: 'The other plane brightened.' },
				{ m: 'm#tzlamakyd erdif, amazdzyn b#qtdd.', g: 'Our mystics were amazed.' },
				{ m: 'oaoky pas, oaozyn u#phjr b#qtdb.', g: 'The light was unusually bright.' },
				{ m: 'oaoky pas, oaomy m#tzif grrdzyn sam#jr b#qtdb.', g: 'The light was as bright as the light of the good sun.' },
			],
		},{
			name: 'Foghaven Waterfall North',
			messages: [
				{ m: 'matalin+ky tianmy pas us+qtdb.', g: 'Mataline used the gate.' },
				{ m: 'matalin+ky oaomy xioaozyn lik+qtdb.', g: 'Mataline liked shadowy light.' },
				{ m: 'matalin+ky oaomy xioaozyn lik+qtdb.', g: 'Mataline liked shadowy light.' },
				{ m: 'matalin+ky pi+c+my oaoif xioaozyn tak+qtdb.', g: 'Mataline took a piece of the shadowy light.' },
				{ m: 'matalin+ky tlivy trrm pi+c+my pas tak+qtdb.', g: 'Mataline took the piece to this plane.' },
			],
		},{
			name: 'Foghaven Waterfall South',
			messages: [
				{ m: 'pi+c+ky pas aiialamamyd erdif qtdb.', g: 'The piece did something to our moon priests.' },
				{ m: 'oaoky xioaozyn pas aiialamamyd erdif qtdb.', g: 'The shadow light did something to our moon priests.' },
				{ m: 'aiialamakyd erdif, grrdzyn u+phjr b+qtdd.', g: 'Our moon priests were unusually good.' },
				{ m: 'pi+c+ky pas aiialamamyd erdif caus+qtad.', g: 'The piece controlled our moon priests.' },
				{ m: 'erdky oaomy xioaozyn us+qtad.', g: 'We used shadowy light' },
				{ m: 'erdky my pas caus+qtad.', g: 'We caused the thing.' },
			],
		},{
			name: 'Foghaven Crossroads',
			messages: [
				{ m: 'xioaokyd pas oaomy xioaozyn lik#qtdd.', g: 'The shadows liked shadowy light' },
				{ m: 'xioaokyd pas oaomy xioaozyn trrm crmdqtdd.', g: 'The shadows were drawn to shadowy light.' },
				{ m: 'xioaokyd pas tianmy pas us#qtdd.', g: 'The shadows used the gate' },
				{ m: 'xioaokyd pas tlimy trrm crmdqtdd.', g: 'The shadows came to this plane.' },
				{ m: 'xioaokyd erdmy xilik#qtdd.', g: 'The shadows disliked us.' },
				{ m: 'm#tzlamakyd erdif, mahtzyn b#qtdd.', g: 'Our mystics were afraid.' },
			],
		},{
			name: 'GMV Ruins',
			messages: [
				{ m: 'xioaokyd pas xistrpqtdd.', g: 'The shadows did not stop.' },
				{ m: 'erdky, mahtzyn b#qtad.', g: 'We were afraid.' },
				{ m: 'erdky tianmyd us#qtad.', g: 'We used gates.' },
				{ m: 'erdky m#tzyet#my pas trrm grqtdb.', g: 'We went to the past.' },
				{ m: 'erdky tianmyd us#qtad caus#vai m#tzyet#ky pas trrm grwtdb.', g: 'We used the gates to go to the past.' },
				{ m: 'm#tzyet#ky pas m#tzyetmy pas maprqtdb.', g: 'The past broke the present' },
				{ m: 'erdky pas m#tzyetmy pas maprqtad.', g: 'We broke the present.' },
				{ m: 'tiankyd pas xiplacdmyd trrm jrinqtdd.', g: 'The gate joined to un-places.' },
				{ m: 'tiankyd pas maprqtdd.', g: 'The gate broke.' },
			],
		},{
			name: 'Shadowspring Citadel Level 1',
			messages: [
				{ m: 'xioaokyd erdmy tlaicqtdd.', g: 'The shadows made war on us.' },
				{ m: 'erdky tianmyd pas ximaprqtad, qtad.', g: 'We caused the gates to be repaired.' },
				{ m: 'erdky axamyd pas caus+qtad.', g: 'We created the greymyr.' },
				{ m: 'axakyd pas tianmyd pas ximaprzyn caus+qtdd.', g: 'The greymyr repaired the gates' },
				{ m: 'axakyd pas maprqtdd', g: 'The greymyr broke' },
				{ m: 'axakyd srm+zyn maprqtdd.', g: 'The greymyr broke in the same way.' },
				{ m: 'erdky mahtzyn b+otad.', g: 'We began to be afraid.' },
				{ m: 'erdky mahtzyn axamyd pas rfrm b+otad.', g: 'We began to be afraid of the greymr.' },
			],
		},{
			name: 'Shadowspring Citadel Level 2 North',
			messages: [
                { m: 'erdky strpstdd trrm xioaokyd pas wtad.', g: 'The shadows tried to stop us.'},
                { m: 'm+tzyetkyab pas maprwt.', g: 'This present was made to break.'},
                { m: 'xioaokyd pas maprmy icarm grdd.', g: 'The shadows went into the breaks.'},
                { m: 'm+tzlamakyd erdif tlimy rm b+dd.', g: 'Our mystics were of this plane.'},
                { m: 'm+tzlamakyd erdif maprmy pas htacastdd.', g: 'Our mystics tried to seal the breaks.'},
			],
		},{
			name: 'Shadowspring Citadel Level 2 South',
			messages: [
                { m: 'm+tzlamakyd erdif htacamy agernrxzyn pas caus+stdd.', g: 'Our mystics wished to create the agronox seal.'},
                { m: 'm+tzlamakyd erdif ktwvy m+tzif ktwmy chiliif pas miggqtdd.', g: 'Our mystics removed the essence of (?) from the sun\'s essence.'},
                { m: 'matalin+kyab erdif ktwmy pas miggqtad.', g: 'Our Mataline (?) removed the essence.'},
			],
		}
	];

	const knownBox = document.getElementById('known');
	known.forEach((s) => {
		const header = document.createElement('h3');
		header.innerText = s.name;
		knownBox.appendChild(header);
		s.messages.forEach((msg) => {
			appendNewMessageBox(knownBox, msg.m, msg.g);
		});
	});

    if (document.location.search == '?advanced') {
        document.body.className += ' advanced';
    }
})();
</script>
